a {
  text-decoration: none;
}

.navbar {
  background-color: #FBFBFB;
  display: flex;
  margin: 10px;
  align-items:center;
}

.navbar a {
  color: #e7e7e7;
}

.navbar .brand {
  display: block;
  padding: 0 24px;
  font-size: 24px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items:center;
  justify-content: flex-start;
}

.navbar ul li a { 
  color: #000000;
  padding: 24px;
  display: block;
}

.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
background-color: #272727;
color: #FBFBFB;
}

.logo-image img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    padding: 10px;
}

main{
  padding : 20px;
}

h2 {
  font-size: 22px;
}
p,h3{
  font-size: 16px;
}

li{
  font-size: 16px;
}

.jumbotron {
  background-color: #E1E5EA;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.8;
  margin-top: 70px;
}

.button {
  background-color: #3DB2FF; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #3DB2FF; 
  color: white; 
  border: 2px solid #3DB2FF;
}

.button1:hover {
  background-color: white;
  color: black;
}
.footer {
  padding: 10px;
  background-color: white;
  margin-top: auto;
  text-align: center;
}
ul {
  white-space: nowrap;
}

ul, li {
  list-style: none;
  display: inline;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 240, 186, 0.5);
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.about {
padding: 10px;
background-color: #F0D9FF;
width: 500px;
opacity: 0.9;
}


